{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Forum{% endblock %}

{% block page_content %}
<aside>
    <a class="new-post-button" href="{{ url_for ('.new_post') }}">发布新文章</a>
    {% include '_nodes.html' %}
</aside>
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{pagedown.include_pagedown() }}
{% endblock %}
