{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Forum{% endblock %}

{% block page_content %}
<aside>
    <a class="new-post-button" href="{{ url_for ('.new_post') }}">发布新文章</a>
    {% include '_nodes.html' %}
</aside>
<main>
    <form method="post" action="/search/">
        <select id="#" name="type">
            <option value="post">帖子</option>
            <option value="node">节点</option>
            <option value="user">用户</option>
        </select>
        <input class="search form-control" name="text" type="text" placeholder="请输入你要搜索的内容"/>
        <button type="submit" class="search btn btn-info btn-search">搜索</button>
    </form>
    {% include '_posts.html' %}
</main>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
